
<label for="">Name</label>
<p><%= @skill.name %></p>

<label for="">Course</label>
<p><%= @skill.course.name %></p>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Volver', skills_path, class: 'btn btn-info' %>
</div>
