<% unless teacher_signed_in? || student_signed_in? %>
  <div class="btn btn-link"><%= link_to 'Soy Un Profesor', new_teacher_registration_path, class: 'btn btn-link' %></div>
  <div class="btn btn-link"><%= link_to 'Soy Un Estudiente', new_student_registration_path, class: 'btn btn-link' %></div>
<% end %>

<% if teacher_signed_in? %>
  <%= render "home/teacher_dashboard" %>
<% elsif student_signed_in? %>
  <%= render "home/student_skills_geometry" %>
<% end %>
