
 <div class="btn btn-link"><%= link_to 'Soy Un Profesor', new_user_registration_path(:role => "1"), class: 'btn btn-link' %></div>
 <div class="btn btn-link"><%= link_to 'Soy Un Estudiente', new_user_registration_path(:role => "2"), class: 'btn btn-link' %></div>


