
<p>Estoy en courses/show.html.erb, Aquí puedo Add skills y al presionar "El SKILL" me debería de mandar a lesson/show.html.erb</p>

<div class="row">
	<div class="col-md-12">
	<%= link_to 'New Skill', skills_path, class: 'btn btn-info btn-sm'%></td>


<div class="row">
  <div class="col-md-6">
    <label for="">Name:</label>
    <%= @course.name %>
  </div>
  <div class="col-md-6">
    <label for="">Code:</label>
    <%= @course.code %>
  </div>
</div>


