<div class="btn-group btn-group-justified" >
  <%= link_to 'New Course', new_teachers_course_path, class: 'btn btn-info'%>
</div>

<br>
<br>

<table class="col-md-6, table">
  <thead>
    <th>Name</th>
    <th>Code</th>
    <th></th>
  </thead>
  <tbody>

    <% @courses.each do |c| %>
      <tr>
        <td><%= link_to c.name, teachers_course_path(c) %></td>
        <td><%= c.code %></td>
        <td><%= link_to 'X', teachers_course_path(c), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
